<h1><code ng:non-bindable=""></code>
<span class="hint"></span>
</h1>
<div><h1 id="gettingstarted">Getting Started</h2>

<p>To get started with angular-scrolly, follow these steps:</p>

<h4 id="1getthejavascriptfile">1. Get the Javascript file.</h5>

<p>You have a few options.</p>

<ul>
<li><p>You can install it on bower (TODO):</p>

<p>$ bower install ajoslin/angular-scrolly</p></li>
<li><p>You can simply download it from github (TODO):</p>

<p>http://raw.github.com/ajoslin/angular-scrolly/master/angular-scrolly.js</p></li>
<li><p>You can clone the repository and build it. See the <a href="http://github.com/ajoslin/angular-scrolly">project README</a>. (This works)</p></li>
</ul>

<h4 id="2includethejavascriptfileinyourhtmlandasanangulardependency">2. Include the javascript file in your HTML and as an angular dependency.</h5>

<pre><code>&lt;script src="angular-scrolly.js"&gt;&lt;/script&gt;

angular.module('myAwesomeApp', ['ajoslin.angular-scrolly']);
</code></pre>

<h4 id="3throwascrollyscrolldirectiveontheelementsyoudesirescrolling">3. Throw a <code>scrolly-scroll</code> directive on the elements you desire scrolling,</h5>

<p>and you're done!</p>

<pre><code>&lt;div class="content" scrolly-scroll&gt;
  Hello, content!
&lt;/div&gt;
</code></pre>

<p>Check out <a href="#/guide/guide.gotchas">gotchas</a> for a few more tips to make sure things look
the best they can.</p></div>
